<?xml version="1.0" ?>
<model>
  <name>grama_alta</name>
  <version>1.0</version>
  <sdf version="1.9">grama_alta.sdf</sdf>
  <author><name>Thais Angelo</name></author>
  <description>Terreno sintetico tipo grama alta (heightmap local, gerado em Python), com zonas planas conhecidas.</description>
</model>
