<?xml version="1.0" ?>
<model>
  <name>rough_patch</name>
  <version>1.0</version>
  <sdf version="1.9">rough_patch.sdf</sdf>
  <author><name>Thais Angelo</name></author>
  <description>Cluster de pequenas caixas com altura variável, simula rugosidade de terreno (cascalho/vegetação rasteira).</description>
</model>